{{#section 'js'}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    
    function DisplayError(message) {
        swal(message, {
            icon: "error",
            buttons: "OK",
        });
    }
    function IsValidInput(oldPassword, newPassword, confirmPassword) {
        if (oldPassword.length === 0) {
            DisplayError("Current password is empty!");
            return false;
        }
        if (newPassword.length === 0) {
            DisplayError("New password is empty!");
            return false;
        }
        if (confirmPassword !== newPassword) {
            DisplayError("Password and confirm password does not match!");
            return false;
        }
        const tmp = "{{user.password}}";
        console.log(tmp);
        return true;
    }
    function SaveProfile() {
        const oldPassword = jQuery("#main-information-old").val();
        const newPassword = jQuery("#main-information-new").val();
        const confirmPassword = jQuery("#main-information-confirm").val();
        if (IsValidInput(oldPassword, newPassword, confirmPassword)) {
            $.post('/student/editProfile/password', { oldPassword: oldPassword, newPassword: newPassword }, function (err, status) {
                if (err === null) {
                    swal("Change password successfully", {
                        icon: "success",
                        buttons: "OK",
                    }).then((value) => {
                        location.reload();
                    });
                }
                else {
                    DisplayError(err);
                }
            });
        }
    }
</script>
{{/section}}

<!-- Header -->
<header id="head" class="secondary">
    <div class="container">

        <h1>Profile</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing eliras scele!</p>

    </div>
</header>
<!-- ./Header -->
<!-- Main -->
<!-- Main panel -->
<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <div id="user-sidebar" class="panel panel-default sidebar-categories">
                <div class="panel-heading">My account</div>

                <div class="list-group">
                    <a href="#currentpage" class="list-group-item active">
                        Profile
                    </a>

                    <a href="/student/myWatchList" class="list-group-item">
                        Favorite
                        <span class="badge">{{watchListSize}}</span>
                    </a>

                    <a href="/student/enrolledCourses" class="list-group-item">
                        Enrollment
                        <span class="badge">{{enrolledCoursesSize}}</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div id="user-information" class="panel panel-default main-categories">

                <div class="panel-heading">
                    <div id="heading-information-container" class="container-fluid">

                        <div id="heading-information-container-row-profile" class="row">
                            <div id="heading-information-profile" class="col-md-3">
                                Change Password
                            </div>
                            <div id="heading-information-btn-group" class="col-md-9">
                                <a class="btn btn-primary" href="/student/info" type="button">
                                    Back
                                </a>
                                <a id="heading-information-save-password-btn" class="btn btn-success" type="submit"
                                   form="change-password-form" href="javascript: SaveProfile();">
                                    Save
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="main-information-container" class="container-fluid">
                    <form id="change-password-form" method="POST">
                        <div class="row">
                            <div id="main-information-input-group" class="input-group">
                                <label id="main-label" for="main-information-old">Current Password</label>
                                <input name="oldPassword" id="main-information-old" type="password" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div id="main-information-input-group" class="input-group">
                                <label id="main-label" for="main-information-new">New Password</label>
                                <input name="newPassword" id="main-information-new" type="password" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div id="main-information-input-group" class="input-group">
                                <label id="main-label" for="main-information-confirm">Confirm New Password</label>
                                <input name="confirmPassword" id="main-information-confirm" type="password" class="form-control">
                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>

    </div>

</div>