<!-- Header -->
<header id="head" class="secondary">
    <div class="container">

        <h1>Profile</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing eliras scele!</p>

    </div>
</header>
<!-- ./Header -->
<!-- Main -->
<!-- Main panel -->
<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <div id="user-sidebar" class="panel panel-default sidebar-categories">
                <div class="panel-heading">My account</div>

                <div class="list-group">
                    <a href="#currentpage" class="list-group-item active">
                        Profile
                    </a>

                    <a href="/lecturer/lectures" class="list-group-item">
                        My Courses
                        <span class="badge">2</span>
                    </a>

                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div id="user-information" class="panel panel-default main-categories">

                <div class="panel-heading">
                    <div id="heading-information-container" class="container-fluid">

                        <div id="heading-information-container-row-profile" class="row">
                            <div id="heading-information-profile" class="col-md-3">
                                My information
                            </div>
                            <div id="heading-information-btn-group" class="col-md-9">
                                <a class="btn btn-primary" href="/lecturer/edit/password" type="button">
                                    Change Password
                                </a>
                                <a class="btn btn-primary" href="#" type="button">
                                    Edit
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                                <a id="heading-information-save-btn" class="btn btn-success" href="#" type="button">
                                    Save
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="main-information-container" class="container-fluid">
                    <div class="row">
                        <div id="main-information-input-group" class="input-group">
                            <label for="main-information-name">Name</label>
                            <input id="main-information-name" type="text" class="form-control" value="Somebody"
                                disabled>
                        </div>

                        <div id="main-information-input-group" class="input-group">
                            <label for="main-information-email">Email</label>
                            <input id="main-information-email" type="email" class="form-control"
                                value="google@gmail.com" disabled>
                        </div>

                        <div id="main-information-input-group" class="input-group">
                            <label for="main-information-phone-number">Phone Number</label>
                            <input id="main-information-phone-number" type="tel" class="form-control" value="0903999999"
                                disabled>
                        </div>

                        <div id="main-information-input-group" class="input-group">
                            <label for="main-information-university">University</label>
                            <input id="main-information-university" type="text" class="form-control" value="VinUni"
                                disabled>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>