<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="webThemez.com">

    <title>EduHub</title>

    <link rel="favicon" href="/views/assets/images/favicon.png">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="/views/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/views/assets/css/bootstrap-theme.css" media="screen">

    <!--Custom CSS-->
    <link rel="stylesheet" href="/views/assets/css/style.css">
    <link rel="stylesheet" id="camera-css" href="/views/assets/css/camera.css" type="text/css" media="all">

    <!--Fontawesome-->
    <link rel="stylesheet" href="/views/assets/css/font-awesome.min.css">

    <!-- DEFINE A 'css' SECTION -->
    {{{_sections.css}}}

</head>

<body>

    <div id="register-form" class="container-fluid">
        <div class="row">
            <form id="formSignUp" method="POST" action="">

                <div id="form-username" class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Username" autofocus id="username" name="username" onkeypress="KeyPressSubmit();" maxlength="50">
                    </div>
                </div>

                <div id="form-password" class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                        <input type="password" class="form-control" placeholder="Password" id="password" name="password" onkeypress="KeyPressSubmit();" maxlength="50">
                    </div>
                </div>

                <div id="form-confirm-password" class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        </span>
                        <input type="password" class="form-control" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" onkeypress="KeyPressSubmit();" maxlength="50">
                    </div>
                </div>

                <div id="form-name" class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Name" id="name" name="name" onkeypress="KeyPressSubmit(); return /[a-z\s]/i.test(event.key)" maxlength="50">
                    </div>
                </div>

                <div id="form-email" class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </span>
                        <input type="email" class="form-control" placeholder="Email" id="email" name="email" onkeypress="KeyPressSubmit();" maxlength="50">
                    </div>
                </div>

                <div id="form-phone-number" class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>
                        <input type="tel" class="form-control" placeholder="Phone Number" id="phoneNumber" name="phoneNumber" onkeypress="KeyPressSubmit(); return /[0-9\s]/i.test(event.key)" maxlength="16">
                    </div>
                </div>

                <div class="form-group">
                    <div id="btn-container">
                        <a class="btn btn-primary" href="/" role="button">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            Home
                        </a>
                        <a class="btn btn-primary" role="button" type="submit" href="javascript:SignUp();">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            Register
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="/views/assets/js/modernizr-latest.js"></script>
    <script type="text/javascript" src="/views/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/views/assets/js/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/views/assets/js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="/views/assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/views/assets/js/camera.min.js"></script>
    <script src="/views/assets/js/bootstrap.min.js"></script>
    <script src="/views/assets/js/custom.js"></script>
    <!-- DEFINE A 'js' SECTION -->
    {{{_sections.js}}}


    <!-- DEFINE SCRIPTS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function ErrorMessage(message) {
            swal(message, {
                icon: "error",
                buttons: "OK",
            });
        }

        function CheckValidInput(username, password, confirmPassword, name, email, phoneNumber) {
            if (username.length === 0) {
                ErrorMessage("INVALID INPUT: username is empty");
                return false;
            }
            if (password.length === 0) {
                ErrorMessage("INVALID INPUT: password is empty");
                return false;
            }
            if (password !== confirmPassword) {
                ErrorMessage("INVALID INPUT: password and confirm password does not match");
                return false;
            }
            if (name.length === 0) {
                ErrorMessage("INVALID INPUT: name is empty");
                return false;
            }
            if (email.length === 0) {
                ErrorMessage("INVALID INPUT: email is empty");
                return false;
            }
            if (phoneNumber.length === 0) {
                ErrorMessage("INVALID INPUT: phone number is empty");
                return false;
            }
            if (!phoneNumber.match(/^[0-9\s]+$/)) {
                ErrorMessage("INVALID INPUT: phone number can contain number and space only");
                return false;
            }
            if (!name.match(/^[A-Za-z\s]+$/)) {
                ErrorMessage("INVALID INPUT: name can contain alphabet characters only");
                return false;
            }
            return true;
        }
        function SignUp() {
            const username = jQuery("#username").val();
            const password = jQuery("#password").val();
            const confirmPassord = jQuery("#confirmPassword").val();
            const name = jQuery("#name").val();
            const email = jQuery("#email").val();
            const phoneNumber = jQuery("#phoneNumber").val();
            jQuery(this).off("SubmitEvent");
            if (CheckValidInput(username, password, confirmPassord, name, email, phoneNumber)) {
                $.getJSON(`/user/register/isAvailable?username=${username}&email=${email}`, function (data) {
                    submitSuccess = data === true;
                    if (data === true) {
                        const account = {
                            username: username,
                            password: password,
                            name: name,
                            email: email,
                            phoneNumber: phoneNumber
                        }
                        $.post('/user/register', account , function (err,status) {
                            if (err) {
                                submitSuccess = false;
                                ErrorMessage(err);
                            } else {
                                submitSuccess = true;
                                swal("Change profile successfully", {
                                    icon: "success",
                                    text: "Register success! Please check your email to activate account!"
                                }).then((value) => {
                                    location.reload();
                                });
                            }
                        });
                    } else {
                        ErrorMessage('username or email is already existed');
                    }
                })
            }
        }
        var submitSuccess = false;
        function KeyPressSubmit() {
            if (event.key === "Enter" && !submitSuccess) {
                console.log("Once");
                SignUp();
            }
        }
    </script>
</body>

</html>