<!-- Footer -->
<footer id="footer">

    <div class="container">
        <!-- Footer 1 -->
        <div class="row">
            <!-- Footer information -->
            <div class="footerbottom">

                <!-- 1st column -->
                <div class="col-md-3 col-sm-6">
                    <div class="footerwidget">

                        <h4>
                            Course Categories
                        </h4>

                        <div class="menu-course">

                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        List of Technology
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        List of Business
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        List of Photography
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        List of Language
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <!-- 2nd column -->
                <div class="col-md-3 col-sm-6">
                    <div class="footerwidget">

                        <h4>
                            Products Categories
                        </h4>

                        <div class="menu-course">

                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        Individual Plans
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Business Plans
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Free Trial
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Academic
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <!-- 3rd column -->
                <div class="col-md-3 col-sm-6">
                    <div class="footerwidget">

                        <h4>
                            Browse by Categories
                        </h4>

                        <div class="menu-course">

                            <ul class="menu">
                                <li><a href="#">
                                        All Courses
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        All Instructors
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        All Members
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        All Groups
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <!-- 4th column -->
                <div class="col-md-3 col-sm-6">
                    <div class="footerwidget">

                        <h4>
                            Contact
                        </h4>

                        <p>Lorem reksi this dummy text unde omnis iste natus error sit volupum</p>

                        <div class="contact-info">
                            <i class="fa fa-map-marker"></i> Kerniles 416 - United Kingdom<br>
                            <i class="fa fa-phone"></i>+00 123 156 711 <br>
                            <i class="fa fa-envelope-o"></i> youremail@email.com
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- Communication section -->
        <div class="social text-center">
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fa fa-dribbble"></i>
            </a>
            <a href="#">
                <i class="fa fa-flickr"></i>
            </a>
            <a href="#">
                <i class="fa fa-github"></i>
            </a>
        </div>

        <!--CLEAR FLOATS-->
        <div class="clear"></div>

    </div>
    <!-- /.Footer 1 -->

    <!-- Footer 2 -->
    <div class="footer2">
        <div class="container">
            <div class="row">

                <!-- Index -->
                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="simplenav">
                            <a href="#">Home</a> |
                            <a href="#">About</a> |
                            <a href="#">Courses</a> |
                            <a href="#">Price</a> |
                            <a href="#">Videos</a> |
                            <a href="#">Contact</a>
                        </p>
                    </div>
                </div>

                <!-- Cite -->
                <div class="col-md-6 panel">
                    <div class="panel-body">

                        <p class="text-right">
                            Copyright &copy; 2019.
                            <a href="https://webthemez.com/tag/free" target="_blank">
                                Free Templates
                            </a>
                            by WebThemez
                        </p>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- /.Footer 2 -->

</footer>
<!-- /.Footer -->