<!-- Header -->
<header id="head">
    <div class="container">

        <!-- Title -->
        <div class="heading-text">
            <h1 class="animated flipInY delay1">
                Start Online Education
            </h1>
            <p>Free Online education template for elearning and online education institute.</p>
        </div>

        <!-- Slider -->
        <div class="fluid_container">
            <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">

                <!-- 1st Slide -->
                <div data-thumb="views/assets/images/slides/thumbs/img1.jpg"
                    data-src="views/assets/images/slides/img1.jpg">
                    <h2>We develop.</h2>
                </div>

                <!-- 2nd Slide -->
                <div data-thumb="views/assets/images/slides/thumbs/img2.jpg"
                    data-src="views/assets/images/slides/img2.jpg">
                </div>

                <!-- 3rd Slide -->
                <div data-thumb="views/assets/images/slides/thumbs/img3.jpg"
                    data-src="views/assets/images/slides/img3.jpg">
                </div>

            </div>
        </div>

    </div>
</header>
<!-- /.Header -->